---
import "../styles/global.css";
import logo_lille from "../assets/logo_lille.png";
import burger from "../assets/burger.svg";
import search from "../assets/search.svg";
import logo_stor from "../assets/logo_stor.png";
---

<div class="flexcol mobile">
  <div class="bar flex">
    <div class="logo">
      <img src={burger.src} alt="nav" />
      <a style="align-items: center; display: flex;" href="/"
        ><img height="23" src={logo_lille.src} alt="logo" /></a
      >
    </div>
    <div class="utilities">
      <div class="la"><p>EN</p></div>
      <div class="search"><img src={search.src} alt="søg" /></div>
    </div>
  </div>
  <div class="searchbar hidden flex">
    <input type="text" placeholder="Søg ..." />
    <div class="search1"><p>SØG</p></div>
  </div>
</div>

<div class="desktop">
  <div class="bar flex">
    <a href="/" class="logo">
      <img height="37" src={logo_stor.src} alt="logo" />
    </a>
    <nav>
      <a class="navpunkt" href="#"><h3>Studiehåndbog</h3></a>
      <a class="navpunkt" href="#"><h3>Vejledning og støtte</h3></a>
      <a class="navpunkt" href="#"><h3>Praktik</h3></a>
      <a class="navpunkt" href="#"><h3>Internationale muligheder</h3></a>
      <a class="navpunkt" href="#"><h3>Studieliv og Faciliteter</h3></a>
    </nav>
    <div class="utilities">
      <div class="la"><p>EN</p></div>
      <div class="search searchD"><img src={search.src} alt="søg" /></div>
    </div>
  </div>
  <div class="searchbar searchbarD hidden flex">
    <input type="text" placeholder="Søg ..." />
    <div class="search1"><p>SØG</p></div>
  </div>
</div>

<style>
  .hidden {
    height: 0px !important;
    overflow: hidden;
  }
  .desktop {
    display: none;
  }

  .bar {
    background-color: var(--color-text);
    justify-content: space-between;
    width: 100%;
    height: 54px;
  }
  .logo {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    gap: 20px;
  }
  .utilities {
    display: flex;
    align-self: stretch;
    width: max-content;
    justify-content: flex-end;
    cursor: pointer;
  }
  .la {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #fff;
  }
  .search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: var(--color-primary);
  }
  .search1 {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #d9463d;
    cursor: pointer;

    p {
      color: #fff;
    }
  }

  .searchbar {
    background-color: var(--color-primary);
    height: 54px;
    justify-content: space-between;
    gap: 10px;
    transition: height 0.3s ease-in-out;
  }
  input {
    padding: 0px 20px;
    background-color: var(--color-primary);
    border: none;
    color: #00000047;
    height: 100%;
    width: 100%;
  }
  input:focus {
    outline: none;
    color: var(--color-text);
  }

  @media (min-width: 1150px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: flex;
      flex-direction: column;
    }
    .logo {
      padding: 0px 30px;
      background-color: var(--color-primary);
      align-self: stretch;
    }
    nav {
      display: flex;
      align-items: flex-start;
      flex: 1 0 0;
      align-self: stretch;
      align-items: center;
    }
    .navpunkt {
      display: flex;
      padding: 0 20px;
      align-items: center;
      justify-content: center;
      align-self: stretch;
    }
    .navpunkt:hover {
      background-color: var(--color-secondary);
    }
    a,
    h3 {
      font-size: 1.1rem;
      text-decoration: none;
      color: #fff;
    }

    .bar,
    .searchbar {
      height: 65px;
    }
  }
</style>

<script>
  const søg = document.querySelector(".search");
  const searchbar = document.querySelector(".searchbar");

  if (søg && searchbar) {
    søg.addEventListener("click", () => {
      searchbar.classList.toggle("hidden");
    });
  }

  const søgD = document.querySelector(".searchD");
  const searchbarD = document.querySelector(".searchbarD");

  if (søgD && searchbarD) {
    søgD.addEventListener("click", () => {
      searchbarD.classList.toggle("hidden");
    });
  }
</script>
