---
import "../styles/global.css";
import logo_lille from "../assets/logo_lille.png";
import burger from "../assets/burger.svg";
import search from "../assets/search.svg";
import logo_stor from "../assets/logo_stor.png";
---

<div class="flex mobile header">
  <div class="logo">
    <img src={burger.src} alt="nav" />
    <img height="23" src={logo_lille.src} alt="logo" />
  </div>
  <div class="utilities">
    <div class="la"><p>EN</p></div>
    <div class="search"><img src={search.src} alt="søg" /></div>
  </div>
</div>
<div class="flex desktop header">
  <div class="logo">
    <img height="37" src={logo_stor.src} alt="logo" />
  </div>
  <nav>
    <div class="navpunkt"><a href="#">Studiehåndbog</a></div>
    <div class="navpunkt"><a href="#">Vejledning og støtte</a></div>
    <div class="navpunkt"><a href="#">Praktik</a></div>
    <div class="navpunkt"><a href="#">Internationale muligheder</a></div>
    <div class="navpunkt"><a href="#">Studieliv og Faciliteter</a></div>
  </nav>
  <div class="utilities">
    <div class="la"><p>EN</p></div>
    <div class="search"><img src={search.src} alt="søg" /></div>
  </div>
</div>

<style>
  .desktop {
    display: none;
  }
  .header {
    background-color: var(--color-text);
    justify-content: space-between;
    width: 100%;
    height: 54px;
  }
  .logo {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    gap: 20px;
  }
  .utilities {
    display: flex;
    align-self: stretch;
    width: max-content;
    justify-content: flex-end;
  }
  .la {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #fff;
  }
  .search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: var(--color-primary);
  }

  @media (min-width: 1050px) {
    .mobile {
      display: none;
    }
    .desktop {
      display: flex;
    }
    .logo {
      padding: 0px 30px;
      background-color: var(--color-primary);
      align-self: stretch;
    }
    nav {
      display: flex;
      align-items: flex-start;
      flex: 1 0 0;
      align-self: stretch;
      align-items: center;
    }
    .navpunkt {
      display: flex;
      padding: 0 20px;
      align-items: center;
      justify-content: center;
      align-self: stretch;
    }
    .navpunkt:hover {
      background-color: var(--color-secondary);
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
</style>
