---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";
import lokation from "../../assets/lokation.png";
import "../../styles/global.css";

export async function getStaticPaths() {
  const url =
    "https://zrnyykbdrxfeksfkhkdf.supabase.co/rest/v1/events?select=*";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpybnl5a2JkcnhmZWtzZmtoa2RmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM4NDQ1MzUsImV4cCI6MjA1OTQyMDUzNX0.4yQJs3k6aA15OGExcR9DN4QAC5V8xngjk8lBGPRwkf4";
  const options = {
    method: "GET",
    headers: {
      apikey: key,
      Authorization: `Bearer ${key}`,
      "Content-Type": "application/json",
    },
  };

  const data = await fetch(url, options).then((res) => res.json());
  console.log(data);

  return data.map((event) => {
    return {
      params: { slug: event.slug },
      props: { event },
    };
  });
}

const { event } = Astro.props;

// Formatér funktioner som tidligere
const formatTime = (time) => time.slice(0, 5);

const formatDate = (date) => {
  const options = { day: "numeric", month: "long", year: "numeric" };
  return new Intl.DateTimeFormat("da-DK", options)
    .format(new Date(date))
    .toUpperCase();
};
---

<Layout title={event.title}>
  <div class="bg">
    <div class="ydre">
      <div class="indre">
        <div>
          <h1>{event.titel}</h1>
          <p>
            {formatDate(event.date)}
            {formatTime(event.start)}-{formatTime(event.end)}
          </p>
          <p>Tilmeld dig på safeticket.dk</p>
        </div>
        <h2>{event.desc}</h2>
        <p set:html={event.long_desc} />
        <h2>Tilmed dig workshoppen på safeticket.dk</h2>
      </div>
      <div class="find_os flexcol">
        <div>
          <h3>Lokation</h3>
          <p>
            Circular Lab, GBG.A 129, Guldbergsgade 29N, 2200 København, Denmark
          </p>
        </div>
        <img src={lokation.src} alt="" />
      </div>
    </div>
  </div>
</Layout>

<style>
  .ydre {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  .indre {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .find_os {
    width: 100%;
    background-color: var(--color-secondary);
    padding: 10px;
    gap: 14px;
    border-radius: 10px;
    margin: 20px 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  @media (min-width: 550px) {
    .ydre {
      flex-direction: row;
      gap: 50px;
    }
    .find_os {
      height: max-content;
      min-width: 250px;
      max-width: 500px;
    }
  }
</style>
